version: 2
jobs:

  build:
    environment:
      build: mrcschwering/cci-rest_sql:latest_build
    docker:
      - image: docker:18.03.0-ce-git
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build rest_sql
          command: docker build -t "$build" .
      - run:
          name: Push rest_sql build
          command: |
            docker login -u="$DOCKERHUB_USER" -p="$DOCKERHUB_PASS"
            docker push "$build"

  testing:
    environment:
      compose_yml: .circleci/docker-compose.yml
    docker:
      - image: mrcschwering/docker-compose-git:latest
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Start containers
          command: |
            docker-compose -f "$compose_yml" up -d
            sleep 5
      - run:
          name: Run tests
          command: |
            docker-compose -f "$compose_yml" run tests pytest test

  deploy:
    environment:
      build: mrcschwering/cci-rest_sql:latest_build
      deploy: mrcschwering/cci-rest_sql:latest_tested
    docker:
      - image: docker:18.03.0-ce-git
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Pull and tag tested image as deploy
          command: |
            docker pull "$build"
            docker tag "$build" "$deploy"
      - run:
          name: Push deploy
          command: |
            docker login -u="$DOCKERHUB_USER" -p="$DOCKERHUB_PASS"
            docker push "$deploy"


workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - testing:
          requires:
            - build
      - deploy:
          requires:
            - testing
